# Instructions
On this first assignment, applying the basic functions of the Igraph package is required. The following datasets are going to be used:

* Actors dataset - undirected graph - : For the 2005 Graph Drawing conference a data set was provided of the IMDB movie database. We will use a reduced version of this dataset, which derived all actor-actor collaboration edges where the actors co-starred in at least 2 movies together between 1995 and 2004. 


You have to complete the code chunks in this document but also analyze the results, extract insights and answer the short questions. Fill the CSV attached with your answers, sometimes just the number is enough, some others just a small sentence or paragraph. Remember to change the header with your email.

In your submission please upload both this document in HTML and the CSV with the solutions.


# Loading data

In this section, the goal is loading the datasets given, building the graph and analyzing basics metrics. Include the edge or node attributes you consider.

Describe the values provided by summary function on the graph object.

**1) How many nodes are there?**

**2) How many edges are there?**

In [1]:
import networkx as nx
import pandas as pd
import numpy as np

In [2]:
#import tsv using pandas
df_edges = pd.read_csv('imdb_actor_edges.tsv', sep='\t')

In [3]:
#show head of df_edges
df_edges.head()

    from     to  weight
0  17776  17778       6
1   5578   9770       3
2   5578    929       2
3   5578   9982       2
4   1835   6278       2

In [4]:
df_edges.dtypes

from      int64
to        int64
weight    int64
dtype: object

In [5]:
df_key = pd.read_csv('imdb_actors_key.tsv', sep='\t', encoding='latin-1')

In [6]:
df_key.head()

,id,name,movies_95_04,main_genre,genres
0,15629,"Rudder, Michael (I)",12,Thriller,"Action:1,Comedy:1,Drama:1,Fantasy:1,Horror:1,N..."
1,5026,"Morgan, Debbi",16,Drama,"Comedy:2,Documentary:1,Drama:6,Horror:2,NULL:3..."
2,11252,"Bellows, Gil",33,Drama,"Comedy:6,Documentary:1,Drama:7,Family:1,Fantas..."
3,5150,"Dray, Albert",20,Comedy,"Comedy:6,Crime:1,Documentary:1,Drama:4,NULL:5,..."
4,4057,"Daly, Shane (I)",18,Drama,"Comedy:2,Crime:1,Drama:7,Horror:1,Music:1,Musi..."

In [7]:
#separate the content in genres column separated by ',' and create a new column for each genre
df_key2 = df_key.join(df_key['genres'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('genre'))

#drop the genres column
df_key2 = df_key2.drop('genres', axis=1)

#drop the rows with NaN values
df_key2 = df_key2.dropna()

#show head of df_key4
df_key2.head(20)

      id                 name  movies_95_04 main_genre          genre
0  15629  Rudder, Michael (I)            12   Thriller       Action:1
0  15629  Rudder, Michael (I)            12   Thriller       Comedy:1
0  15629  Rudder, Michael (I)            12   Thriller        Drama:1
0  15629  Rudder, Michael (I)            12   Thriller      Fantasy:1
0  15629  Rudder, Michael (I)            12   Thriller       Horror:1
0  15629  Rudder, Michael (I)            12   Thriller         NULL:2
0  15629  Rudder, Michael (I)            12   Thriller      Romance:1
0  15629  Rudder, Michael (I)            12   Thriller       Sci-Fi:1
0  15629  Rudder, Michael (I)            12   Thriller     Thriller:2
0  15629  Rudder, Michael (I)            12   Thriller          War:1
1   5026        Morgan, Debbi            16      Drama       Comedy:2
1   5026        Morgan, Debbi            16      Drama  Documentary:1
1   5026        Morgan, Debbi            16      Drama        Drama:6
1   5026        Morgan, Debbi            16      Drama       Horror:2
1   5026        Morgan, Debbi            16      Drama         NULL:3
1   5026        Morgan, Debbi            16      Drama      Romance:2
2  11252         Bellows, Gil            33      Drama       Comedy:6
2  11252         Bellows, Gil            33      Drama  Documentary:1
2  11252         Bellows, Gil            33      Drama        Drama:7
2  11252         Bellows, Gil            33      Drama       Family:1

In [8]:
#for each genre, create a new column with only the strings that contain the genre
df_key3 = df_key2.join(df_key2['genre'].str.contains('Action').rename('Action'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Adventure').rename('Adventure'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Animation').rename('Animation'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Biography').rename('Biography'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Comedy').rename('Comedy'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Crime').rename('Crime'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Documentary').rename('Documentary'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Drama').rename('Drama'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Family').rename('Family'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Fantasy').rename('Fantasy'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Film-Noir').rename('Film-Noir'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('History').rename('History'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Horror').rename('Horror'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Music').rename('Music'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Musical').rename('Musical'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Mystery').rename('Mystery'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Romance').rename('Romance'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Sci-Fi').rename('Sci-Fi'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Sport').rename('Sport'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Thriller').rename('Thriller'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('War').rename('War'))
df_key3 = df_key3.join(df_key2['genre'].str.contains('Western').rename('Western'))

MemoryError: Unable to allocate 59.3 GiB for an array with shape (7959189718,) and data type int64

In [ ]:
df_key3.head()

In [ ]:
df_key3 = pd.get_dummies(df_key2['genre'])
df_key3.head()

In [ ]:
#take the name before ':' and just leave the number after ':' in the genre column, creating new columns with the name of the genre
df_key5 = df_key.join(df_key['genres'].str.split(':', expand=True).stack().reset_index(level=1, drop=True).rename('genre2'))

#drop the genre column
df_key5 = df_key5.drop('genres', axis=1)
 
#drop the rows with NaN values
df_key5 = df_key5.dropna()

#show head of df_key5
df_key5.head(20)

In [ ]:
#creating a graph object
G = nx.Graph()

In [ ]:
#adding nodes to the graph
for key in df_key['id']:
    G.add_node(id)

In [ ]:
#list nodes in G
G.nodes()

In [ ]:
#adding edges to the graph
for i, row in df_edges.iterrows():
    source = row['from']
    target = row['to']
    G.add_edge(source, target)

In [ ]:
print(nx.is_connected(G))

In [ ]:
#the graph is not connected
connected_components = list(nx.connected_components(G))

In [ ]:
#export graph to gexf
nx.write_gexf(G, 'imdb_actor_edges.gexf')

In [ ]:
#add edges from df_edges
edges = nx.from_pandas_edgelist(df_edges, 'from', 'to', 'weight')

#add nodes from df_key
nodes = nx.from_pandas_edgelist(df_key, 'id', 'name')

In [ ]:
#make graph g1 by adding nodes and edges and connecting them
g1 = nx.Graph()
g1.add_nodes_from(nodes)
g1.add_edges_from(edges.edges)
g1.add_nodes_from(df_key['id'])

In [ ]:
#connect graph to itself
g1.add_edges_from(g1.edges())

In [ ]:
#show graph
nx.draw(g1, with_labels=True)

In [ ]:
#show graph info
print(nx.info(G))

In [ ]:

#show graph density
print(nx.density(G))

In [ ]:

#show graph diameter
print(nx.diameter(G))

In [ ]:

#show graph average shortest path length
print(nx.average_shortest_path_length(G))

In [ ]:
#show graph average clustering coefficient
print(nx.average_clustering(G))

In [ ]:

#show graph average degree
print(np.mean(list(dict(G.degree()).values())))

In [ ]:

#show graph average degree centrality
print(np.mean(list(nx.degree_centrality(G).values())))

In [ ]:

#show graph average closeness centrality
print(np.mean(list(nx.closeness_centrality(G).values())))

In [ ]:

#show graph average betweenness centrality
print(np.mean(list(nx.betweenness_centrality(G).values())))

In [ ]:

#show graph average eigenvector centrality
print(np.mean(list(nx.eigenvector_centrality(G).values())))

In [ ]:

#show graph average pagerank
print(np.mean(list(nx.pagerank(G).values())))

In [ ]:

#show graph average katz centrality
print(np.mean(list(nx.katz_centrality(G).values())))

In [ ]:

#show graph average harmonic centrality
print(np.mean(list(nx.harmonic_centrality(G).values())))

In [ ]:

#show graph average communicability centrality
print(np.mean(list(nx.communicability_centrality(G).values())))

# Degree distribution

Analyse the degree distribution. Compute the total degree distribution.

**3) How does this distributions look like?**


**4) What is the maximum degree?**

**5) What is the minum degree?**

# Network Diameter and Average Path Length

You have functions in igraph to calculate the diameter and the average path length. Think if you should consider the weights, the directions, etc.

**6) What is the diameter of the graph?**

**7) What is the avg path length of the graph?**

# Node importance: Centrality measures

(Optional but recommended): Obtain the distribution of the number of movies made by an actor and the number of genres in which an actor starred in. It may be useful to analyze and discuss the results to be obtained in the following exercises.

Obtain three vectors with the degree, betweeness and closeness for each vertex of the actors' graph.

Obtain the list of the 20 actors with the largest degree centrality. It can be useful to show a list with the degree, the name of the actor, the number of movies, the main genre, and the number of genres in which the actor has participated.

**8) Who is the actor with highest degree centrality?**

**9) How do you explain the high degree of the top-20 list??**

Obtain the list of the 20 actors with the largest betweenness centrality. Show a list with the betweenness, the name of the actor, the number of movies, the main genre, and the number of genres in which the actor has participated.

**10) Who is the actor with highest betweenes?**

**11) How do you explain the high betweenness of the top-20 list?**

Obtain the list of the 20 actors with the largest closeness centrality. Show a list with the closeness the name of the actor, the number of movies, the main genre, and the number of genres in which the actor has participated.

**12) Who is the actor with highest closeness centrality?**

**13) How do you explain the high closeness of the top-20 list?**